* {
    margin : 0 ;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: inline-block;
    position: relative;
    z-index: -1000;
    width: 400%;
}
h1 {
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    top: 0;
    margin-top: -800px;
    margin-left: 900px;
    width: 300%;
    color: darkblue;
    
}
.menu {
    display: inline-block;
    position: absolute;
    top:  3px;
    width: 300px;

    
}
.nav-link {
    display: inline-block;
    position: relative;
    margin: 10px 0 auto;
    color: rgb(0, 100, 0);
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    margin: 30px;

    

}


